<appSettings>
<add key="owin:AppStartup" value="Cyrus.Bootstrapper.Startup, Cyrus.Bootstrapper"/>
<add key="issuer" value="http://localhost:55095"/>
<add key="as:AudienceSecret" value="mG_JGnEWyo2kOPVixMBz3Vch1eijCNxxe29gooPjljM"/>
<add key="as:AudienceId" value="9771a435277e4cc3b235154ae40efe90" />
<add key="AutoBuildDatabase" value="false"/>
<add key="StorageConnectionString" value="UseDevelopmentStorage=true" />
<add key="emailService:FromEmailAddress" value="donotreply@cyrus.com"/>
</appSettings>